@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open+Sans:wght@400;700&display=swap');
@media (max-width: 690px) {
    /* body {
        min-width: 1440px;
    } */
    .showcase ul {
        flex-wrap: wrap !important;

    }
}
@media (max-width: 500px) {
    .showcase ul {
        padding-left: 1em !important;
        padding-right: 1em !important;

    }
}

:root {
    --white: #efefef;
    --milk: #dae0d4;
    --grey: #ababab;
    --deep-blue: #2b455e;
    --light-red: #ed3d3f;
    --text-black: #333;
    --gradient: linear-gradient(to right, #072142, #8c2b7a 50%, #ff4d5a);
}
body {
    margin: 0px;
    padding: 0px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }
    
@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

.navbar-a {
text-decoration: none;
color: #212529;
}

:root{
--bg-color-1: #73755d;
--bg-color-2: #c3d4b4;
--bg-color-3: #d7d4df;
--text-color-1: #343434;
--text-color-2: #414141;
}

.card:hover{
    scale: 1.01;
    transition: 0.2s;
    box-shadow:0 1rem 3rem rgba(0,0,50,.50)!important;
}

body {
/* background-image: url(img/welcome2.jpeg); */
/* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/welcome.jpeg'); */

/* background-image: linear-gradient(to right, #f7fff6, #dcffde 55%, #ecffec); */
/* background-color: var(--bg-color-2); */
background-color: #D3E4CD;
/* color: white; */
/* color: #FEF5ED; */

background-repeat: no-repeat;
background-size: cover;

}

body h2 {
color: var(--text-color-1);
}

.card-text {
color: var(--text-color-2);
}

#logo {
    width: 2em;
    border-radius: 100%;
}

/* 
.fixed-top {
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1030
} */

