@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: none;
}

.navimage
{
  width: 3em;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-left: 2em;
}

/* -------------- */



/* ------- */
body, html {
  width: 100%;
  height: 2000px;
}

body {
  background-color: #73755d;
  /*font-family: Trebuchet MS, Helvetica;*/
}


header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}
header #logo {
  color: #fff;
  cursor: pointer;
}
header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: 'Suez One', serif;
}

@media (min-width: 701px){
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }
  #about {
    float: right;
    width: 67%;
  }

}

@media (max-width: 700px){
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }
}
#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}
#about > a {color: #fff}
#about > a:hover {
  color: #b0b0b0;
  text-decoration: underline;

}
#about> a:not(:last-child){
  margin-right: 7%;
}

.fixed {
  z-index: 5000;
  background-color: #f6f6f6;
  border-bottom: 1px solid silver;
}
header.fixed #logo {
  color: #343434;
}
.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

#top {
  width: 100%;
  background-image: url(https://cafekoktem.kz/upload/iblock/da5/da5c64fc33bd863c99a5b1e009f6a6d3.jpg);
  background-blend-mode: multiply;
  background-color: gray;
  background-size: cover;
  text-align: center;
  color: #fff;
}

@media (min-width:1001px) {
  #top {
    font-size: 2em;
    height: 560px;
  }
}

@media (max-width:1000px) and (min-width: 651px) {
  #top {
    font-size: 1em;
    height: 400px;
  }
}

@media (max-width:650px) {
  #top {
    font-size: 1.3em;
    height: 200px;
  }
}

#top h1 {
  color: #d7d4bf;
  padding-top: 20%;
}

#main {
  padding: 100px 20%;
  width: 60%;
  float: left;
  background-color: #f6f6f6;
  border-top: 3px solid #d7d4bf;
  color: #484848;
  font-size: 1.3em;
}

@media (min-width: 1401px) {
  #main {
    padding: 100px 20%;
  width: 100%;
  }
}

@media (max-width: 1400px) {
  #main {
    padding: 100px 10%;
  width: 100%;
  }
}

@media (max-width: 700px) {
  #main div {
    width: 98%!important;
  }
}

#main div {
  width: 48%;
  margin-right:2%;
  float: left;
}

#main h2 {font-size: 2em}
#main span {color: #a0a0a0}




#myBtn {
  /* display: none;*/
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: #808080; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  background: transparent;
}






#overview {
  float: left;
  background-image: url(https://cafekoktem.kz/upload/iblock/412/412dd9c804d3a9d975ea221375711629.jpg);

  background-blend-mode: multiply;
  background-color: gray;
  background-size: cover;
  background-attachment:fixed;

  padding: 100px 0;
  width: 100%;
  text-align: center;
  color: #fff;
}

#overview h2 {font-size: 3em}
#overview span {color: #ccc; font-size: 2em};
#overview .img {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-top: 50px;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
}

#delivery {
  width: 100%;
  /* float: right; */
  /* padding-bottom: 40px; */
  /* padding-top: 70px; */
  border-top: 4px solid black;
  background: #c4d4b4;
  text-align: center;
}
#delivery p {font-size: 1.5em; color: #73755d}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.7em;
  letter-spacing: 1.1px;

  margin-top: 3em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
}

#footer {
  /* background-color: #c4d4b4; */
  background-color: #f6f6f6;
}

#form_input {
  margin-top: 15px;
  width: 35%;
  margin-left: 38%;
  font-size: 1.1em;
}
